.DS_Store
node_modules/
yarn.lock
.eslintcache
.history/
coverage
/public
docs/.vitepress/cache
docs/.vitepress/dist
dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.tar
*.log