.DS_Store
node_modules/
/dist/
_upgrade/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.eslintcache
.history/
/war/
.husky
coverage
/public
docs/.vitepress/cache
docs/.vitepress/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.tar